<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin List</title>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/adminList.css" />
    <script
      src="https://kit.fontawesome.com/b884a4526c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body style="background: #444444">
    <%- include('./adminNavbar.ejs') %>
    <div class="container">

    <div class="mt-5">
      <button class="btn btn-primary btn-lg add-new-user">Add New User</button>
    </div>

    <div class="new-user-container">
      <form>
        <div class="form-group">
          <label for="newName">Name</label>
          <input type="text" class="form-control" id="newName" placeholder="John Smith">
        </div>
        <div class="form-group">
          <label for="newEmail">Email address</label>
          <input type="email" class="form-control" id="newEmail" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="newPassword">Password</label>
          <input type="password" class="form-control" id="newPassword" placeholder="password">
        </div>
        <div class="form-group">
          <label for="newPasswordConfirm">Password Confirm</label>
          <input type="password" class="form-control" id="newPasswordConfirm" placeholder="password confirm">
        </div>
        <div class="form-group">
          <label for="newPhoto">Photo (Optional)</label>
          <input type="text" class="form-control" id="newPhoto" placeholder="photo URL here">
        </div>
        <div class="form-group">
          <label for="newRole">Role</label>
          <select class="form-control" id="newRole">
            <option>Editor</option>
            <option>Admin</option>
            <option>Super Admin</option>
           
          </select>
        </div>
        
        <button id="submit" class="btn btn-lg btn-primary" type="submit">Submit</button>
        <button id="cancel" class="btn btn-lg btn-danger ml-2" type="submit">Cancel</button>
      </form>
    </div>
      
    
      <div class="admin-container mt-5">
        <div class="name">
          Name
        </div>
        <div class="role">
          Role
        </div>
        <div class="timeAdded">
          Date Added
        </div>
        <div class="addedBy">
          Added By
        </div>
        <div class="options">
          Options
        </div>
      </div>


    <% admins.reverse().forEach(admin => { %>
       <div class="admin-container my-2">
           <div class="name"><%= admin.name %></div>
           <div class="role"><%= admin.role %></div>
           <div class="timeAdded"><%= admin.simpleTimeAdded %></div>
           <div class="addedBy">

            <% if(admin.addedBy) { %>
            <div class="ml-auto mr-4 d-flex justify-content-center align-items-center" style="height: 50px; background-color: #F58220; border-radius: 15px; width: auto; padding: 0 10px">
                <div>
                  <%= admin.addedBy.name %> 
                  <% if(admin.addedBy.photo) { %>
                    <span><img style="width: 35px; border-radius: 50%" src="<%= admin.addedBy.photo %>" alt=""></span>
                  <% } %>
                </div>
              </div>
              <% } else { %>
                <div class="ml-auto mr-4 d-flex justify-content-center align-items-center" style="height: 50px; background-color: #F58220; border-radius: 15px; width: auto; padding: 0 10px">
                    <div>
                      <%= admin.name %> 
                      <% if(admin.photo) { %>
                        <span><img style="width: 35px; border-radius: 50%" src="<%= admin.photo %>" alt=""></span>
                      <% } %>
                    </div>
                  </div>
            <% } %>

           </div>
        <div class="options">
            <button id="<%= admin._id %>" class="btn btn-danger admin-delete">Delete</button>
        </div>
       </div>
        <% }) %>

      </div>
  </body>
  <% if (user) { %>
 
    <script>
      // stringify the data passed from router to ejs (within the EJS template only)
      const userID = <%- JSON.stringify(user.id) %>  
  </script>
<% } %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
  <script type="module" src="/js/admin/adminList.js"></script>
</html>
